#exclude workspace cache
.obsidian/workspace/*
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Exclude Untitled Notes
Untitled*
# Exclude "bad" names
null*

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store
